<div class="container">
	<h2>Doktori</h2>
	 <br> 
	<ng-container *ngIf = 'prikaz'> 
		<ul *ngFor ='let doktor of ime3' class="border">
			<li >{{doktor.ime1}} <br> {{doktor.spec1}}</li>
		</ul>
	 </ng-container>
	
	<br><br>
	<form #bla = 'ngForm'>
		<input [(ngModel)]= 'doktor.ime1' name = 'ime' type="text" placeholder="Ime i Prezime">
		<br><br>
		<input [(ngModel)]= 'doktor.spec1' name = 'specijalnost' type="text" placeholder="Specijalnost">
		<br><br>
		<button (click) = 'dodaj(bla); $event.preventDefault()'>Dodaj</button>
		<!-- <button type="submit">Dodaj</button> -->
	</form>
	
</div>
