<div class="container">
	<h2>Pacijenti</h2>
	<ul *ngIf="prikaz" class="border">
		<li *ngFor = 'let pacijent of spisakPacijenata'>{{pacijent}}</li>
		<select>
			<option>Izaberite Lekara</option>
			<!-- <option>{{event.ime}}</option> -->
			<option *ngIf = 'prikazOpcije'>{{imeDoktora.ime}}</option>
		</select>
	</ul>
	<br><br>
	<input #ime [(ngModel)] = 'ime1' name="name" type="text" placeholder="Ime I Prezime"><br><br>
	<input #jmbg [(ngModel)] = 'jmbg1' name="jmbg" type="text" placeholder="JMBG"><br><br>
	<input #bzk [(ngModel)] = 'bzk1' name='bzk' type="text" placeholder="Br. Zdravstvenog Kartona"><br><br>
	<button (click) = 'pacijenti(ime.value, jmbg.value, bzk.value)' type="button">Dodaj</button>

</div>